@import "../../scss/colors.scss";

.cmp-library-details {


    &__actions {

        button + button {
            margin-left: 10px;
        }
    }

    &__category-buttons {   
        margin: 20px 0 10px;
        display: flex;

        button {
            & + button {
                margin-left: 10px;
            }
        }
    }

    &__input-filter {

        label {
            line-height: .8;
        }
        input {
            padding: 10px;
        }
    }

    &__title {
        color: $blue;
    }
}