@import "../../scss/colors.scss";

.cmp-create-station {
    .MuiBox-root {
        width: 600px;
    }

    h2 {
        color: $blue;
    }

    .MuiFormControl-root {
        width: 100%;
    }

    &__actions {
        button {
            margin-right: 10px;
        }
    }
}